<p id="notice"><%= notice %></p>

<%= link_to 'Edit', edit_property_path(@property) %> |
<%= link_to 'Destroy', edit_property_path(@property), method: :delete, data: { confirm: 'Are you sure?' } %> |
<%= link_to 'Back', properties_path %>
